.dashboardContainer {
  background-image: linear-gradient(to bottom, var(--background-secondary), var(--background));
  border-radius: 16px;
  width: 100%;
  min-height: 100vh;
  padding: 1rem;
}

.chartControls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.showAllButton {
  background: var(--active-accent);
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 16px;
  border: 1px solid black;
  font-size: 0.875rem;
  font-weight: 500;
  cursor: pointer;
  margin: 0 1rem;
  width: 220px;
  transition: opacity 0.2s ease;
}

.showAllButton:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .chartControls {
    flex-direction: column;
    padding: 0 0 1rem 0;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.controlsContainer {
  margin-bottom: 2rem;
}

.tabsContainer {
  display: flex;
  gap: 1rem;
  margin: 2rem 0;
  border-bottom: 1px solid var(--border-color);
  position: relative;
}

.tabButton {
  padding: 1rem 2rem;
  background: none;
  border: none;
  font-size: 1rem;
  color: var(--text-secondary);
  cursor: pointer;
  transition: color 0.2s ease;
  position: relative;
  width: 50%;
  text-transform: uppercase;
}

.tabButton:hover {
  color: var(--text);
}

.tabButton::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--active-accent);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.tabButton.active {
  color: var(--text);
}

.tabButton.active::after {
  transform: scaleX(1);
}

/* Add transition for tab content */
.tabContent {
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.3s ease;
}

.tabContent.visible {
  opacity: 1;
  transform: translateY(0);
} 